.cache
.conda
.config
.docker
.google
.gsutil
.ipython
.jupyter
.local
.ssh
.vscode-server
anaconda3
bin
lib
snap
.bash_history
.bash_logout
.bashrc
.profile
.scala_history
.wget-hsts
.boto
airflow/data
airflow/logs
spark